{% extends 'layout/body-register-login.html' %}
{% load static %}
{% block ico %}
{% if setting.active_setting %}
<!-- enter -->
<link rel="icon" type="image/x-icon" href="{% if setting.ico_image_therty_by_therty_px %}{{ setting.ico_image_therty_by_therty_px.url }}{% else %} {% static 'IMG/icon.ico' %}{% endif %}">
{% else %}
<link rel="icon" type="image/x-icon" href="{% static 'IMG/icon.ico' %}">
{% endif %}
{% endblock ico %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/register-login/password-reset.css' %}">
{% endblock css %}
{% block title %}
Reset password
{% endblock title %}

{% block content %}


<form method="POST" class="form-general-reset-password">
    <div class="mano">We have sent you an email!</div>
    <div class="alert-send">
        Please, check your email and follow the instuctions in order to change your password.
    </div>
    <div class="link">
        <a href="{% url 'index' %}">Return</a>
    </div>
</form>

{% endblock content %}

{% block footer %}
{% include 'layout/footer.html' %}
{% endblock footer %}