{% extends 'layout/body-register-login.html' %}
{% load static %}

{% block ico %}
{% if setting.active_setting %}
<!-- enter -->
<link rel="icon" type="image/x-icon" href="{% if setting.ico_image_therty_by_therty_px %}{{ setting.ico_image_therty_by_therty_px.url }}{% else %} {% static 'IMG/icon.ico' %}{% endif %}">
{% else %}
<link rel="icon" type="image/x-icon" href="{% static 'IMG/icon.ico' %}">
{% endif %}
{% endblock ico %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/register-login/password-reset.css' %}">
{% endblock css %}
{% block title %}
Reset password
{% endblock title %}

{% block content %}


<form method="POST" class="form-general-reset-password">
    <div class="mano">Reset password</div>
    <div class="alert-send">
        Write you email and we will send you the instructions in order to reset your password.
    </div>

    <!-- Agregar Token -->
    <div>
        {% csrf_token %}
    </div>
    {% for field in form %}
    <div class="form-field">
        {{ field }}
    </div>
    {% endfor %}
    <div class="my-button">
    <input type="submit" value="Submit" class="btn-submit">
    </div>
</form>
{% endblock content %}

{% block footer %}
{% include 'layout/footer.html' %}
{% endblock footer %}