{% extends 'layout/body-register-login.html' %}
{% load static %}

{% block ico %}
{% if setting.active_setting %}
<!-- enter -->
<link rel="icon" type="image/x-icon" href="{% if setting.ico_image_therty_by_therty_px %}{{ setting.ico_image_therty_by_therty_px.url }}{% else %} {% static 'IMG/icon.ico' %}{% endif %}">
{% else %}
<link rel="icon" type="image/x-icon" href="{% static 'IMG/icon.ico' %}">
{% endif %}
{% endblock ico %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/register-login/password-reset-complete.css' %}">
{% endblock css %}
{% block title %}
Reset password
{% endblock title %}

{% block content %}


<div class="reset-complete-form-general">
    <div class="mano">
        The password has changed successfully!
    </div>
    <div class="alert-send">
        Your password has been changed successfully!
    </div>
    <div class="back-page">
        <a href="{% url 'login' %}">Log In</a>
    </div>
</div>

{% endblock content %}

{% block footer %}
{% include 'layout/footer.html' %}
{% endblock footer %}