{% extends 'layout/body-register-login.html' %}
{% load static %}

{% block ico %}
{% if setting.active_setting %}
<!-- enter -->
<link rel="icon" type="image/x-icon" href="{% if setting.ico_image_therty_by_therty_px %}{{ setting.ico_image_therty_by_therty_px.url }}{% else %} {% static 'IMG/icon.ico' %}{% endif %}">
{% else %}
<link rel="icon" type="image/x-icon" href="{% static 'IMG/icon.ico' %}">
{% endif %}
{% endblock ico %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/register-login/password-reset-confirm.css' %}">
{% endblock css %}
{% block title %}
Reset password
{% endblock title %}

{% block content %}


<form method="POST" class="form-general-reset-password-confirm">
    <div class="mano">Reset password</div>
    <div>
        <!--  Mostrar campos y label  -->
        {% csrf_token %}
    </div>
    {% for field in form %}

    <div class="label">
        {{ field.label }}
    </div>
    <div class="form-field">
        {{ field }}
    </div>
    <!--Mostrar errores-->
    <div class="non-field-errors">
    {% if field.errors %}
        <p>Password are not matching, please go back to try it</p>
    {% endif %}
    </div>
    {% endfor %}
    <div class="new-button">
        <input type="submit" value="Submit" class="btn-submit">
    </div>
</form>
{% endblock content %}

{% block footer %}
{% include 'layout/footer.html' %}
{% endblock footer %}