{% extends 'layout/body-register-login.html' %}
{% load static %}

{% block ico %}
{% if setting.active_setting %}
<!-- enter -->
<link rel="icon" type="image/x-icon" href="{% if setting.ico_image_therty_by_therty_px %}{{ setting.ico_image_therty_by_therty_px.url }}{% else %} {% static 'IMG/icon.ico' %}{% endif %}">
{% else %}
<link rel="icon" type="image/x-icon" href="{% static 'IMG/icon.ico' %}">
{% endif %}
{% endblock ico %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/register-login/password-change.css' %}">
{% endblock css %}

{% block title %}
Change password
{% endblock title %}

{% block content %}


{% if user.is_authenticated %}
<form method="POST" class="form-general">
    <div>
    <div class="mano">Change password</div>
    <!-- Add token -->
    <!-- Agregar Token -->
    <div>
        {% csrf_token %}
    </div>
    <div class="main-form">
        <!-- Get Form  -->
        {% for field in form %}
            <div>
                {{ field }}
            </div>
            {% if field.errors %}
                <div class="errorlist">Password are not matching, please go back to try it</div>
            {% endif %}
        {% endfor %}
    </div>
    <div>
        <input type="submit" value="Change password" class="btn-submit input-login">
    </div>
    </div>
</form>

{% endif %}

{% endblock content %}

{% block footer %}
{% include 'layout/footer.html' %}
{% endblock footer %}