{% extends 'layout/body-register-login.html' %}
{% load static %}
{% block ico %}
{% if setting.active_setting %}
<!-- enter -->
<link rel="icon" type="image/x-icon" href="{% if setting.ico_image_therty_by_therty_px %}{{ setting.ico_image_therty_by_therty_px.url }}{% else %} {% static 'IMG/icon.ico' %}{% endif %}">
{% else %}
<link rel="icon" type="image/x-icon" href="{% static 'IMG/icon.ico' %}">
{% endif %}
{% endblock ico %}
{% block css %}
<link href="{% static 'css/register-login/login.css' %}" rel="stylesheet" type="text/css"/>
{% endblock css %}
{% block title %}
Ingress
{% endblock title %}

{% block content %}


{% if user.is_authenticated %}
<div class="alert-session">
    You have already signed in, <a href="{% url 'index' %}" title="Go to main page">Click</a> to go to the main page
</div>
{% else %}
<form method="POST" class="form-general">
    <div class="block1">
        <p class="register-msg">{{ msg }}</p>
        <p class="mano">Log in</p>
    </div>
    <div>
        <!-- Add token -->
        {% csrf_token %}
    </div>
    <div class="form-general-data">
        <!-- Get Form  -->
        {{ form.as_div }}
    </div>
    <div class="block2">
        <div>
            <input type="submit" value="Ingress" class="btn-submit">
        </div>
        <div>
            <!-- Register to forget password -->
            <a class="password-forgot" href="{% url 'password_reset' %}">Have you forgot your password?</a>
        </div>
    </div>
</form>

{% endif %}

{% endblock content %}

{% block footer %}
{% include 'layout/footer.html' %}
{% endblock footer%}