.reset-complete-form-general
{
 text-align:center;
}

.reset-complete-form-general>.mano
{
 font-size: 1.5em;
 color: rgb(0, 0, 255);
 font-weight: bold;
 margin-top: 10px;
 margin-bottom: 10px;
}

.reset-complete-form-general>.alert-send
{
 font-style: cursive;

}

.reset-complete-form-general>.back-page
{
    margin-top: 10px;
}

.reset-complete-form-general>.back-page>a
{
 text-decoration: none;
 color: brown;
 transition: color 0.15s;
}

.reset-complete-form-general>.back-page>a:hover
{
 color: blue;
}