.form-general-reset-password-confirm
{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-general-reset-password-confirm>div
{
    margin-bottom: 10px;
}

.form-general-reset-password-confirm>.mano
{
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
}

.form-general-reset-password-confirm>.label
{
    font-style: italic;
}

.form-general-reset-password-confirm>.form-field>input
{
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 23px;
    border-radius: 15px;
    padding-left: 15px;
}

.form-general-reset-password-confirm>.non-field-errors
{
    color: rgb(255,0,0);
    font-style: italic;
    font-size: 0.7em;
    height: 10px;
}

.form-general-reset-password-confirm>.non-field-errors>p
{
    margin: 0;
    padding:0;
}

.form-general-reset-password-confirm>.new-button>.btn-submit
{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 0);
    padding: 5px 20px;
    border 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-style: italic;
    opacity: 1;
    transition: opacity 0.15s;
}

.form-general-reset-password-confirm>.new-button>.btn-submit:hover
{
    background: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
    opacity: 0.8;
}